.App {
  text-align: center;
}
.todoli{
  margin: 10px auto;
  border: 1px solid black;
  list-style-type: none;
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 10px;
}
.todoli.checked{
  text-decoration: line-through;
}
